@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --gold: #d4a964;
  --graybrand: #747474;
  --graybrand-light: #B0B0B0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
}
